<header>
	<nav>
		<.link href={~p"/readme"}>readme</.link>
		<.link href={~p"/"}>recents</.link>
		<.link href={~p"/weblog"}>weblog</.link>
	</nav>
</header>

<main>
	<%= @inner_content %>
</main>

<footer>
	<p>~ &#8253; ~</p>
</footer>