<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="csrf-token" content={get_csrf_token()} />
		<.live_title suffix="Jarrod Taylor">
			<%= if assigns[:page_title], do: "#{assigns[:page_title]} ~ ", else: "" %>
		</.live_title>
		<link rel="alternate" type="application/atom+xml" href="/weblog/feed">
		<link rel="apple-touch-icon-precomposed" href={~p"/images/apple-touch-icon.png"}>
		<link rel="me" href="https://mastodon.social/@jarrodtaylor">
		<link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
		<script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
	</head>
	<body id="preload">
		<%= @inner_content %>
	</body>
</html>