<h1>Hello!</h1>

<p class="lede">
	I'm <a href="mailto:email@jarrodtaylor.me">Jarrod Taylor</a>. Distiller of useless skills.
	Sports car enthusiast. Writer, programmer, podcaster. Rock 'n' roll dilettante and caffeine addict.
	Also, sometimes I make things.
</p>

<p>
	This site is where I keep track of my thoughts. Mostly that means linking to things I'm reading
	online along with my own notes and reactions. Sometimes those notes turn into bigger ideas and
	become articles, but only when I feel I have something meaningul to add to the topic.
</p>
<p>
	If there's more to say than fits on this site, I'll make something new.
</p>

<!--
<h2>Things I've Made</h2>

<p>
	<img src="/images/readme/scaring_with_sammy.jpg" />
</p>
-->

<h2>Consulting</h2>

<p>
	For the past 20+ years I've been consulting in the tech industry. That means I've seen the
	landscape change from font tags and table layouts to mobile apps and the travesty that JavaScript
	has now become.
</p>

<p>
	<strong>I'm always up for a good project.</strong>
</p>

<p>
	You can email me at <a href="mailto:email@jarrodtaylor.me">email@jarrodtaylor.me</a>,
	download my <a download href="/downloads/readme/Resume ~ Jarrod Taylor.pdf">work history</a>,
	and connect on <a href="https://www.linkedin.com/in/~jarrod/">LinkedIn</a>
	or <a href="https://github.com/jarrodtaylor">GitHub</a>.
</p>

<p>
	I've worked with local businesses, startups, and corporate giants:
</p>

<p>
	<a href="https://www.altmansolon.com">Altman Solon</a>
	• <a href="https://arcadia.io">Arcadia</a>
	• <a href="https://www.bequick.com">BeQuick</a>
	• <a href="https://www.baupost.com">The Baupost Group</a>
	• <a href="https://www.chewy.com">Chewy</a>
	• <a href="https://www.conjur.org">Conjur</a>
	• <a href="https://www.crowdlending.com">Crowd Lending, Inc.</a>
	• <a href="https://www.cumberlandfarms.com">Cumberland Farms</a> <small>(SmartPay)</small>
	• <a href="https://www.dentaquest.com">DentaQuest</a>
	• eKwipper <small>(now defunct)</small>
	• <a href="https://www.fidelity.com">Fidelity Investments</a>
	• <a href="https://www.frontporch.com">Front Porch</a>
	• <a href="https://www.idexx.com">IDEXX</a>
	• <a href="https://www.ironmountain.com">Iron Mountain</a>
	• <a href="https://www.landrumhr.com">LandrumHR</a>
	• <a href="https://www.mariscg.com">Maris Consulting Group</a>
	• <a href="https://www.mirion.com">Mirion</a>
	• <a href="https://www.mcna.net">MCNA Dental</a>
	• <a href="https://www.paychex.com">Paychex</a>
	• <a href="https://www.paypal.com">PayPal</a>
	• <a href="https://www.prismhr.com">PrismHR</a>
	• <a href="https://quint.co">Quint</a>
	• <a href="https://www.seeyourselfhealth.com">See Yourself Health</a>
	• <a href="https://sefas.com">Sefas</a>
	• <a href="https://smartbear.com">SmartBear</a>
	• <a href="https://www.spirent.com">Spirent</a> <small>(octoScope)</small>
	• <a href="https://tanzu.vmware.com/cloudhealth">Tanzu CloudHealth</a> <small>(VMWare)</small>
	• <a href="http://www.datasolv.com">TG2 Solutions</a> <small>(DataSolv)</small>
	• <a href="https://www.torchmetrics.com">TorchMetrics</a>
	• <a href="https://tsdweb.com">TSD Mobility Solutions</a>
	• <a href="https://uplandsoftware.com/localytics/">Upland</a> <small>(Localytics)</small>
	• <a href="https://www.verizon.com">Verizon</a>
</p>